@model RegisterViewModel

@{ 
    ViewBag.Title = "User Registration";
}

<form method="post">
    <div class="card">
        <div class="card-header text-danger" asp-validation-summary="All">

        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"> </label>
                <input  class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"> </label>
                <input  class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"> </label>
                <input  class="form-control" asp-for="ConfirmPassword">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Register</button>
            </div>
        </div>
    </div>

</form>